@{
    ViewData["Title"] = "Lobby";
}

<h2>Trackii – Lobby</h2>

<p>Selecciona un módulo:</p>

<ul>
    <li><a href="/Admin/Area">Administración de Áreas</a></li>
    <li><a href="/Admin/Family">Administración de Families</a></li>
    <li><a href="/Admin/Subfamily">Administración de Subfamilies</a></li>
    <li><a href="/Admin/Location">Administración de Localidades</a></li>
    <li><a href="/Admin/Role">Administración de Roles</a></li>
    <li><a href="/Admin/Route">Administración de Rutas</a></li>

    <li><a href="/Admin/User">Administración de Usuarios</a></li>
</ul>

<hr />

<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit">Cerrar sesión</button>
</form>
