@model Trackii.Models.Admin.User.UserCreateVm
@{
    var roles = ViewBag.Roles as List<(uint Id, string Name)>;
}

<h2>Nuevo Usuario</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
    @Html.AntiForgeryToken()

    <label>Usuario</label><br />
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span><br /><br />

    <label>Rol</label><br />
    <select asp-for="RoleId">
        @foreach (var r in roles!)
        {
            <option value="@r.Id">@r.Name</option>
        }
    </select>
    <span asp-validation-for="RoleId"></span><br /><br />

    <label>Contraseña</label><br />
    <input asp-for="Password" type="password" />
    <span asp-validation-for="Password" class="text-danger"></span><br /><br />

    <button type="submit">Crear</button>
</form>
